
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Handlee&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libertinus+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
    list-style-type: none;
    font-family: "handlee";
}
.navbar{
    background-color: #292828;
   font-family: "raleway";
    
}
body{
    background-color: #1d1d1d;

}
.task-manager{
    color:#363636;
    border-color: white;
    height:70vh;
    width:100vw;
      
   
}

#form{
    display:none ;
    transition:all 2s ease-in-out;
}
td {
  max-width: 200px; /* adjust as needed */
  word-break: break-word;
}
#cross{
    transition: 1s all ;
    cursor: pointer;
}  

#cross:hover{
    scale:1.5; 
    
}
.task-manager{
    background-color: rgb(28, 115, 150);
}